<p>こんにちは、<%= @user.email %>さん。</p><br>
=============================================== <br>
<p>パスワードの再設定は以下URLのページより、10分以内に行なってください。</p>
<p>お手数おかけしますが、何卒よろしくお願いいたします。<p>
<p><a href="<%= @url %>"><%= @url %></a></p>