<div id="new_comment">
  <%= form_with model: comment, url: article_comments_path(article) do |form| %>
    <%= render 'shared/error_messages', object: form.object %>

    <%= form.text_area :body, placeholder: 'コメント',
                              class: 'mt-4 ml-9 textarea textarea-bordered w-7/12 mb-4 h-96 bg-stone-50 text-gray-600' %>

    <div class="flex justify-center">
      <%= form.submit '投稿',
                      class: 'mr-40 app-link rounded-md bg-blue-900 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-blue-800 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-800' %>
    </div>
  <% end %>
</div>
