<%= form_with url: password_resets_path, local: true, method: :post do |form| %>
  <div class="field">
    <%= form.label :email, 'メールアドレス', class: 'block text-sm font-medium leading-6 text-gray-900' %><br>
    <%= form.text_field :email,
                        class: 'bg-white rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300' %>
    <%= form.submit 'パスワードを再設定する' %>
  </div>
<% end %>
