<%= form_with url: password_resets_path, local: true, method: :post do |form| %>
  <div class="flex items-center space-x-4">
    <div class="flex-1">
      <%= form.text_field :email,
                           class: 'text-xl font-bold pl-4 bg-stone-50 text-gray-600 block w-full rounded-md border-0 py-2.5 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600' %>
    </div>
    <%= form.submit '送信',
                    class: 'app-link flex-shrink-0 rounded-md bg-blue-900 text-gray-100 px-3 py-1.5 text-sm font-semibold leading-6 shadow-sm hover:bg-blue-800 focus:outline-none focus:ring-2 focus:ring-blue-800' %>
  </div>
<% end %>
