<% content_for :title, page_title('ログイン') %>
<div class="w-5/6 mx-auto max-w-screen-xl flex-grow mt-20 md:w-4/6">
  <h2 class="text-3xl font-bold text-gray-600 mb-10">ログイン</h2>
  <form class="space-y-6" action="#" method="POST">
    <div>
      <label for="email" class="ml-4 text-base font-medium text-gray-600">メールアドレス</label>
      <div class="mb-2">
        <input id="email" name="email" type="email" required class="text-xl font-bold pl-4 bg-stone-50 text-gray-600 block w-full rounded-md border-0 py-2.5 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600">
      </div>
    </div>
    <div>
      <label for="password" class="ml-4 text-base font-medium text-gray-600">パスワード</label>
      <div class="mb-2">
        <input id="password" name="password" type="password" autocomplete="current-password" required class="text-xl font-bold pl-4 bg-stone-50 text-gray-600 block w-full rounded-md border-0 py-2.5 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600">
      </div>
    </div>
    <div>
      <button type="submit" class="app-link mt-10 flex w-full justify-center rounded-md bg-blue-900 text-gray-100 px-3 py-1.5 text-base font-semibold leading-6 shadow-sm hover:bg-blue-800 focus:outline-none focus:ring-2 focus:ring-blue-800">ログイン</button>
    </div>
  </form>
  <div class="mt-7 text-right">
      <%= link_to 'パスワードをお忘れの方はこちら', new_password_reset_path %>
    </div>
  
  <!-- 区切り線 -->
  <div class="my-10">
    <p class="paragraph font-semibold text-center"> or </p>
  </div>

  <div class="flex flex-col md:flex-row gap-10 text-gray-100">
    <div class="flex-1">
      <%= link_to 'GitHubアカウントでログイン', auth_at_provider_path(provider: :github),
                  class: 'app-link mt-10 flex w-full justify-center rounded-md bg-blue-900 px-3 py-1.5 text-base font-semibold leading-6 shadow-sm hover:bg-blue-800 focus:outline-none focus:ring-2 focus:ring-blue-800' %>
    </div>
  </div>
</div>
<div class="mb-20"></div>
