<!-------------１つ目のいいねボタン------------->
<% if logged_in? %>
  <% if @article.favorited?(current_user, :like_first) %>
    <%= render 'articles/first_unfavorite', article: @article %>
  <% else %>
    <%= render 'articles/first_favorite', article: @article %>
  <% end %>
  <% end %>
</div>
<!-------------１つ目のいいねボタン------------->
