<%= link_to article_favorite_path(article, @article.id, type: :like_fifth), data: { turbo_method: :delete },
                                                                            id: 'fifth-unfavorite', class: 'app-link unlike-button-5' do %>
  <i class="bi bi-bell-fill" style="color: rgb(20 184 166);"></i>
  <p class="text-xs paragraph"><%= @article.favorites.where(favorite_type: 'like_fifth').count %></p>
<% end %>
