<!-------------５つ目のいいねボタン------------->
<div class="tooltip" data-tip="詳細をもっと知りたい">
  <%= link_to article_favorite_path(article, @article.id, type: :like_fifth), data: { turbo_method: :delete }, class: "unlike-button-5", id: "fifth-unfavorite-#{@article.id}" do %>
    <i class="bi bi-bell-fill"></i>
    <%= article.favorites.where(favorite_type: 'like_fifth').count %>
  <% end %>
</div>
  
<!-------------５つ目のいいねボタン------------->