<!-------------４つ目のいいねボタン------------->
<div class="tooltip" data-tip="独自の視点！">
<%= link_to article_favorite_path(article.id, type: :like_forth), data: { turbo_method: :delete }, class: "unlike-button-2" do %>
  <i class="bi bi-brightness-alt-high-fill"></i>
  <%= @article.favorites.where(favorite_type: 'like_forth').count %>
<% end %>
</div>
<!-------------４つ目のいいねボタン------------->