<div class="tooltip" data-tip="学びが深まった">
<%= link_to article_favorites_path(@article.id, type: :like_second),
            data: { turbo_method: :post, turbo_stream: true }, id: 'second-favorite', class: 'app-link like-button-2' do %>
  <i class="bi bi-award"></i>
  <%= @article.favorites.where(favorite_type: 'like_second').count %>
<% end %>
</div>
