<div class="tooltip" data-tip="解説が丁寧">
<%= link_to article_favorites_path(@article.id, type: :like_third), data: { turbo_method: :post, turbo_stream: true },
                                                                    id: 'third-favorite', class: 'app-link like-button-3' do %>
  <i class="bi bi-arrow-through-heart text-gray-600 hover:text-teal-400"></i>
  <p class="text-xs paragraph"><%= @article.favorites.where(favorite_type: 'like_third').count %></p>
<% end %>
</div>
