<div class="bg-white">
  <div class= "w-5/6 mx-auto max-w-screen-xl">
    <div class=" bg-white text-gray-600 textarea textarea-bordered w-full h-full " >
      <h1 class="text-3xl mt-5 flex justify-center"><%= @article.title %></h1>
      <h2 class="text-base mt-5 flex justify-center"><%=l @article.created_at, format: :long %></h2>
      <h3 class="flex justify-center mt-10 bg-white"><%= @article.body %></h3>
  </div>

</div>
</div>