<% content_for :title, page_title('通知') %>
  <div class="w-5/6 mx-auto max-w-screen-xl mt-10 flex-grow">
  <h1 class="text-3xl font-bold text-gray-600">通知</h1>
    <% notification = @notifications.where(visitor_id: current_user.id) %>
      <% if @notifications.exists? %>
        <%= render @notifications %>
        <%= paginate @notifications %>
      <% else %>
        <p>通知はありません</p>
      <% end %>
</div>
