<p>①総閲覧数</P>
<p>②総文字数（タイトル除く）： </P>
<p>③総いいね数（内訳も記載する）： <%= @article_favorite.count %></P>

<p>④チャットボットからの総評</P>
<% if @article_published.count >= 5 %>
<p>あなたはこれまで、<%= @article_published.count %>記事投稿しました。おめでとうございます！MiniitaBotから総評をもらいましょう！下記からもらいたい総評を選んでください。</p>
<%= render 'shared/review_chatbot' %>
<% else %>
<p>5記事以上書かないと、この機能は使えません</p>
<% end %>
