<% content_for :title, page_title('使い方') %>
<div class="w-5/6 mx-auto max-w-screen-xl flex-grow mt-20 text-gray-600 mb-20">
  <h1 class="font-bold text-4xl">Miniitaの使い方</h1>
    <p class="mb-20 md:ml-10">MIniitaをより効果的に活用していただくためのガイドです。
    <br>ここでは、Miniita特有の<span class="font-extrabold text-3xl">4</span>つの機能に焦点を当て解説させていただきます。基本的な機能は他技術記事アプリと同様です。
    <br>※基本機能：記事投稿/下書き保存/編集/削除、コメント投稿/編集/削除等<P>
      <h2 class="md:ml-10"><i class="bi bi-android2 mr-0.5"></i>MiniitaBotの活用</h2>
        <p class="md:ml-16">技術記事を投稿するのが初めての方は、MiniitaBotをぜひ活用ください。
        <br>本アプリでは「MiniitaBot」を設置し、<span class="font-extrabold text-2xl">テンプレートの作成依頼・記事内容の確認依頼・誤字脱字の添削</span>など、
        <br>記事を書いている最中の支援を行います。
        <p class="mt-2 md:ml-16"><br>✔️テンプレートの作成依頼...投稿したい記事内容を一言でMiniitaBotへ送信ください。3-5項目で、内容に合わせた雛形を返信します。
        <br>✔️記事内容の確認依頼...投稿内容に不安がある場合は、その内容をコピーしMiniitaBotへ貼り付けて送信ください。
        <br>✔️誤字脱字の添削...誤字脱字で気になる箇所がある場合には、該当箇所をコピーし送信ください
        <br>※字数制限がありますので、確認したい箇所のみ送信いただけますようお願い申し上げます。</p></p>
          <span class="flex justify-center mb-16"><a href="https://gyazo.com/9f1126926206911233a83fd72cd0b4a1"><video width="1000" autoplay muted loop playsinline controls><source src="https://i.gyazo.com/9f1126926206911233a83fd72cd0b4a1.mp4" type="video/mp4"/></video></a></span>
      <h2 class="md:ml-10"><i class="bi bi-hand-thumbs-up mr-0.5"></i>いいねボタン</h2>
          <p class="md:ml-16">記事を書き終えたものの、第三者からの反応が気になる...。 MIniitaでは<span class="font-extrabold text-2xl">5つのいいねボタン</span>を設置しています。
          <br>ユーザーからのいいね内容を確認することができ、記事を投稿するモチベーション維持にも貢献します。</p>
          <span class="flex justify-center mb-16"><a href="https://gyazo.com/98e021d2eafdcf0fc470b868898f7398"><video width="1000" autoplay muted loop playsinline controls><source src="https://i.gyazo.com/98e021d2eafdcf0fc470b868898f7398.mp4" type="video/mp4"/></video></a></span>
      <h2 class="md:ml-10"><i class="bi bi-gift mr-0.5"></i>マイバッジ制度</h2>
          <p class="md:ml-16">継続して記事を書き続けられるか不安。 そんなお声にお応えし、Miniitaでは一定の記事を書き終えると<span class="font-extrabold text-2xl">バッジが付与</span>されます。
          <br>バッジ内容はここでは伏せております。是非実際に投稿してみてご確認ください。</p>
          <span class="flex justify-center mb-16"><a href="https://gyazo.com/e1d10bfaaf82575fa66b72f1ae3c83e0"><video width="1000" autoplay muted loop playsinline controls><source src="https://i.gyazo.com/e1d10bfaaf82575fa66b72f1ae3c83e0.mp4" type="video/mp4"/></video></a></span>
      <h2 class="md:ml-10"><i class="bi bi-book mr-0.5"></i>継続サポート</h2>
          <p class="md:ml-16">記事を5記事以上書くと、<span class="font-extrabold text-2xl">MiniitaBotから記事内容の総評</span>を受け取ることができます。
          <br>ぜひ総評を受け取って、今後の投稿内容に反映させていただければ幸いです。
          <br>※現在は諸事情より投稿したタイトルからの評価のみに限定しております。</p>
          <span class="flex justify-center mb-16"><a href="https://gyazo.com/81e96ac76fc5a4169ca4516d5e48c354"><video width="1000" autoplay muted loop playsinline controls><source src="https://i.gyazo.com/81e96ac76fc5a4169ca4516d5e48c354.mp4" type="video/mp4"/></video></a></span>
  </div>