<% content_for :title, page_title('トップ') %>
<header id="header">
    <h1 class="main-heading fadeIn1 text-3xl font-bold">技術記事をもっと身近に</h1>
    <h2 class="second-heading fadeIn2 text-9xl font-black text-gray-700">Miniita<span class="fadeIn2 text-blue-800 ml-2">.</span></h2>
    <h3 class="third-heading fadeIn3 text-gray-500 font-medium mt-0">Miniitaは、技術記事を書きたいけど書いたことがない / 第三者から見られることに抵抗を感じている方向けのサイトです。<br>
    Miniitaならではの機能を活用して、日々のアウトプットにご利用ください。</h3>
</header>
<div id="container">
  <div class="w-5/6 mx-auto max-w-screen-xl">
    <p class="text-gray-600 text-4xl font-bold mt-40">Miniitaならではの機能</p>
    <div class="mx-auto max-w-screen-xl text-gray-600 mt-20">
        <div class="relative pl-4 font-base font-nomal mb-1">
            ✔️ <span class="text-2xl font-black">執筆途中も安心</span>なサポート
        </div>
        <div class="relative pl-4 font-base font-nomal mb-1">
            ✔️ 記事への<span class="text-2xl font-black">反応内容がわかる</span>
        </div>
        <div class="relative pl-4 font-base font-nomal mb-1">
            ✔️ <span class="text-2xl font-black">継続して投稿</span>できる仕組み
        </div>
    </div>
  </div>
  <p class="mt-80 flex justify-center text-gray-600 text-4xl font-bold mb-20">さあ、Miniitaを使ってみましょう</p>
<div class="w-5/6 mx-auto max-w-screen-xl flex justify-center gap-10">
  <%= link_to new_user_path, class: 'app-link text-slate-200 flex flex-col items-center' do %>
    <span class="btnripple3"><i class="bi bi-file-earmark-font text-2xl text-gray-600 hover:text-gray-400 "></i>
    <p class="text-gray-400 paragraph text-xs mt-1">新規登録</p></span>
  <% end %>
  <%= link_to login_path, class: 'app-link text-slate-200 flex flex-col items-center' do %>
    <span class="btnripple3"><i class="bi bi-box-arrow-in-right text-2xl text-gray-600 hover:text-gray-400"></i>
    <p class="text-gray-400 paragraph text-xs mt-1">ログイン</p></span>
  <% end %>
  <%= link_to articles_path, class: 'app-link text-slate-200 flex flex-col items-center' do %>
    <span class="btnripple3"><i class="bi bi-book text-2xl text-gray-600 hover:text-gray-400"></i>
    <p class="text-gray-400 paragraph text-xs mt-1">記事を閲覧</p></span>
  <% end %>
 <%= link_to explanation_path, class: 'app-link text-slate-200 flex flex-col items-center' do %>
    <span class="btnripple3"><i class="bi bi-eye text-2xl text-gray-600 hover:text-gray-400"></i>
    <p class="text-gray-400 paragraph text-xs mt-1">詳しい使い方</p></span>
  <% end %>
</div>

