<% content_for :title, page_title('トップ') %>
<header id="header">
    <h1 class="main-heading fadeIn1 text-3xl font-bold">技術記事をもっと身近に</h1>
    <h2 class="second-heading fadeIn2 text-9xl font-black text-gray-700">Miniita.</h2>
    <h3 class="third-heading fadeIn3 text-gray-500 font-medium m-o">Miniitaは、技術記事を書きたいけど書いたことがない / 第三者から見られることに抵抗を感じている方向けのサイトです。<br>
    Miniitaならではの機能を活用して、日々のアウトプットにご利用ください。</h3>
</header>
<div id="container">
  <div class="w-5/6 mx-auto max-w-screen-xl">
    <p class="text-left ml-7 text-gray-600 text-4xl font-bold">Miniita独自の機能</p>
    <div class="mx-auto max-w-screen-xl sm:mt-20 lg:mt-24">
      <dl class="grid grid-cols-1 lg:grid-cols-4 gap-x-8 gap-y-10">
      
      <!-----------Miniita Bot----------->
        <div class="relative pl-4">
          <dt class="flex items-center text-base font-semibold leading-7 text-gray-800 text-left">
              <svg class="h-6 w-6 text-white mr-3" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <i class="bi bi-android2"></i>
              </svg>
            MiniitaBotによる支援
          </dt>
          <dd class="mt-1 text-base leading-7 text-gray-600">「記事を投稿する」というはじめの一歩はとても勇気が入ります。Miniitaでは「MiniitaBot」を設置し、
          テンプレートの出力依頼・誤字脱字の添削など記事を書いている最中の支援をしてくれます。</dd>
        </div>
       <!-----------Miniita Bot----------->
       
      <!-----------いいねボタン----------->
        <div class="relative pl-4">
          <dt class="flex items-center text-base font-semibold leading-7 text-gray-900 text-left">
              <svg class="h-6 w-6 text-white mr-3" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <i class="bi bi-hand-thumbs-up"></i>
              </svg>
            複数のいいねボタン
          </dt>
          <dd class="mt-1 text-base leading-7 text-gray-600">記事を書き終えたものの、第三者からの反応が気になる...。
          MIniitaでは複数のいいねボタンを設置しています。ユーザーからの反応の種類を確認することができ、モチベーション維持にも貢献します。</dd>
        </div>
        <!-----------いいねボタン----------->
        
      <!-----------マイバッジ----------->
        <div class="relative pl-4">
          <dt class="flex items-center text-base font-semibold leading-7 text-gray-900 text-left">
              <svg class="h-6 w-6 text-white mr-3" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <i class="bi bi-gift"></i>
              </svg>
            マイバッジ機能
          </dt>
          <dd class="mt-1 text-base leading-7 text-gray-600">継続して記事を書き続けられるか不安。
            そんなお声にお応えし、Miniitaでは一定の記事を書き終えるとバッジが付与されます。そのバッジ内容をXアカウントでシェアすることも可能です。<br></dd>
        </div>
        <!-----------マイバッジ----------->
        
      <!-----------継続サポート----------->
        <div class="relative pl-4" >
          <dt class="flex items-center text-base font-semibold leading-7 text-gray-900 text-left">
              <svg class="h-6 w-6 text-white mr-3" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <i class="bi bi-book"></i>
              </svg>
            継続サポート機能
          </dt>
          <dd class="mt-1 text-base leading-7 text-gray-600">マイバッジだけでなく、MiniitaBotからの支援もあります。
          記事を5記事以上書くと、MiniitaBotから記事内容の総評を受け取ることができます。</dd>
        </div>
        <!-----------継続サポート----------->
      </dl>
    </div>
  </div>
  <div id="container">
  <p class="mt-48 flex justify-center ml-7 text-gray-600 text-4xl font-bold">さあ、Miniitaを使ってみましょう</p>
  </div>
  <div class="w-5/6 mx-auto max-w-screen-xl mt-10 flex justify-between items-center">
    <div class="flex space-x-6">
      <%= link_to new_user_path, class: 'app-link flex flex-col items-center leading-6 text-slate-200' do %>
        <i class="bi bi-file-earmark-font text-2xl text-gray-600 hover:text-gray-400"></i>
        <p class="paragraph text-xs mt-1">新規登録</p>
      <% end %>
      <%= link_to articles_path, class: 'app-link flex flex-col items-center leading-6 text-slate-200' do %>
        <i class="bi bi-book text-2xl app-link text-gray-600 hover:text-gray-400"></i>
        <p class="paragraph text-xs mt-1">閲覧</p>
      <% end %>
    </div>
    <div class="flex space-x-4 items-center">
      <%= link_to login_path, class: 'app-link flex flex-col items-center leading-6 text-slate-200' do %>
        <i class="bi bi-box-arrow-in-right text-2xl app-link text-gray-600 hover:text-gray-400"></i>
        <p class="paragraph text-xs mt-1">ログイン</p>
      <% end %>
    </div>
  </div>
</div>