<header>
  <nav class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8" aria-label="Global">
    <div class="flex lg:flex-1">
      <%= link_to root_path do %>
        <p>ロゴ</p>
      <% end %>
    </div>
    <div class="lg:flex lg:gap-x-12 font-biz">
      <%=link_to "記事を閲覧", articles_path, class: "app-link text-sm font-semibold leading-6 text-slate-200" %>
      <%= link_to '新規登録', new_user_path, class: "app-link text-sm font-semibold leading-6 text-slate-200" %>
    </div>
    <div class="lg:flex lg:flex-1 lg:justify-end font-biz">
      <%= link_to 'ログイン', :login, class: 'app-link text-sm font-semibold leading-6 text-slate-200' %>
    </div>
</nav>
</header>