<header>
  <div class="w-5/6 mx-auto max-w-screen-xl mt-10 flex justify-between items-center">
    <div class="flex space-x-6">
      <%= link_to new_user_path, class: 'app-link flex flex-col items-center leading-6 text-slate-200' do %>
        <i class="bi bi-file-earmark-font text-2xl text-gray-600 hover:text-gray-400"></i>
        <p class="paragraph text-xs mt-1">新規登録</p>
      <% end %>
      <%= link_to articles_path, class: 'app-link flex flex-col items-center leading-6 text-slate-200' do %>
        <i class="bi bi-book text-2xl app-link text-gray-600 hover:text-gray-400"></i>
        <p class="paragraph text-xs mt-1">閲覧</p>
      <% end %>
    </div>
    <div class="flex space-x-4 items-center">
      <%= link_to login_path, class: 'app-link flex flex-col items-center leading-6 text-slate-200' do %>
        <i class="bi bi-box-arrow-in-right text-2xl app-link text-gray-600 hover:text-gray-400"></i>
        <p class="paragraph text-xs mt-1">ログイン</p>
      <% end %>
    </div>
  </div>
</header>
