<!-- モーダルを開くボタン -->
<button class="text-4xl" onclick="my_modal_3.showModal()">
  <i class="bi bi-patch-question text-gray-600"></i>
</button>
<!-- モーダル本体 -->
<dialog id="my_modal_3" class="modal">
  <div class="modal-box mb-5 bg-stone-50 text-gray-600 w-5/6 mx-auto md:w-1/2" style="height: 80%;">
    <h3 class="text-xl font-bold mb-10">マークダウン記法使い方</h3>

    <!-- モーダルの内容 -->
    <p class="text-lg font-bold text-left mb-0.5"><i class="bi bi-tags-fill mr-2"></i>箇条書きリスト  「・ 〇〇」</p>
    <p class="paragraph text-sm text-left">
      ・ マークダウン記法の箇条書きリストは、使用できません。<br>
      ・ お手数おかけしますが、黒点は「・」と入力ください。
    </p>

    <p class="text-lg font-bold text-left mb-0.5"><i class="bi bi-tags-fill mr-2"></i>改行  「末尾に半角2スペース」</p>
    <p class="paragraph text-sm text-left">
      ・ 改行したい場合には、末尾に半角2スペースを入れてください。
    </p>

    <p class="text-lg font-bold text-left mb-0.5 mt-8"><i class="bi bi-tags-fill mr-2"></i>見出し語  「# 〇〇」</p>
    <p class="paragraph text-sm text-left">
      ・ 行頭に「#」をつけると、見出し形式になります。<br>
      ・「#」の数が見出しレベルです。<br>
      ・「#」のあとは半角空欄を空けてください。<br>
      ・「# 例文」 が一番大きい文字、「###### 例文」 が一番小さい文字になります。
    </p>

    <p class="text-lg font-bold text-left mb-0.5 mt-8"><i class="bi bi-tags-fill mr-2"></i>太字  「**〇〇**」「__〇〇__」</p>
    <p class="paragraph text-sm text-left">
      ・ ** または __ によって囲まれた文字列は「太字」になります。
    </p>

    <p class="text-lg font-bold text-left mb-0.5 mt-8"><i class="bi bi-tags-fill mr-2"></i>イタリック（斜体）  「*〇〇*」「_〇〇_」</p>
    <p class="paragraph text-sm text-left">
      ・ * または _ によって囲まれた文字列は「斜体」になります。
    </p>

    <p class="text-lg font-bold text-left mb-0.5 mt-8"><i class="bi bi-tags-fill mr-2"></i>太字かつイタリック  「***〇〇***」「___〇〇___」</p>
    <p class="paragraph text-sm text-left">
      ・ *** または ___ によって囲まれた文字列は「太字かつイタリック」になります。
    </p>

    <p class="text-lg font-bold text-left mb-0.5 mt-8"><i class="bi bi-tags-fill mr-2"></i>訂正線  「~~〇〇~~」</p>
    <p class="paragraph text-sm text-left">
      ・ ~~ で囲まれた文字は「訂正線（取り消し線）」になります。
    </p>

    <p class="text-lg font-bold text-left mb-0. mt-8"><i class="bi bi-tags-fill mr-2"></i>下線  「&lt;u&gt;〇〇&lt;/u&gt;」</p>
    <p class="paragraph text-sm text-left">
      ・ 「&lt;u&gt; &lt;/u&gt;」で囲まれた文字は「下線」になります。
    </p>

    <p class="text-lg font-bold text-left mb-0.5 mt-8"><i class="bi bi-tags-fill mr-2"></i>水平線  「***」「---」「_ _ _」</p>
    <p class="paragraph text-sm text-left">
      ・ ３つ以上の - * _ だけを入力した行は水平線（罫線）になります。
    </p>

    <p class="text-lg font-bold text-left mb-0.5 mt-8"><i class="bi bi-tags-fill mr-2"></i>URL  「 [〇〇](URL) 」</p>
    <p class="paragraph text-sm text-left">
      ・ [表示テキスト](URL) でURLリンクになります。
    </p>

    <p class="text-lg font-bold text-left mb-0.5 mt-8"><i class="bi bi-tags-fill mr-2"></i>ファイル挿入  「![代替テキスト](URL)」</p>
    <p class="paragraph text-sm text-left">
      ・ ![代替テキスト](URL) でファイルが表示されます。
    </p>

    <p class="text-lg font-bold text-left mb-0.5 mt-8"><i class="bi bi-tags-fill mr-2"></i>動画（GIF）</p>
    <p class="paragraph text-sm text-left">
      ・ Gyazoのマークダウン＞GIFで動画埋め込みが可能です。
    </p>

    <p class="text-lg font-bold text-left mb-0.5 mt-8"><i class="bi bi-tags-fill mr-2"></i>画像</p>
    <p class="paragraph text-sm text-left">
      ・ Gyazoのマークダウンで画像埋め込みが可能です。
    </p>

    <p class="text-lg font-bold text-left mb-0.5 mt-8"><i class="bi bi-tags-fill mr-2"></i>引用  「> 〇〇」</p>
    <p class="paragraph text-sm text-left">
      ・ 行頭に > を付けると引用になります。
    </p>

    <p class="text-lg font-bold text-left mb-0.5 mt-8"><i class="bi bi-tags-fill mr-2"></i>二重引用  「>> 〇〇」</p>
    <p class="paragraph text-sm text-left">
      ・ 行頭に >> を付けると引用になります。
    </p>

    <p class="text-lg font-bold text-left mb-0.5 mt-8"><i class="bi bi-tags-fill mr-2"></i>インラインコード  「` 〇〇 `」「```〇〇```」</p>
    <p class="paragraph text-sm text-left">
      ・ `または```で囲まれた文字は「インラインコード」になります。
    </p>

    <p class="text-lg font-bold text-left mb-0.5 mt-8"><i class="bi bi-tags-fill mr-2"></i>コードブロック<br>
      ```<br>
      〇〇<br>
      ```<br>
    </p>
    <p class="paragraph text-sm text-left">
      ・```を改行して使用した場合は、でコードブロックになります。<br>
    </p>

    <p class="text-lg font-bold text-left mb-0.5 mt-8"><i class="bi bi-tags-fill mr-2"></i>テキストカラー  「&lt;span style="color: red;"&gt; 赤文字 &lt;/span&gt;」</p>
    <p class="paragraph text-sm text-left">
      ・ 文字色を変えたい場合は、HTMLタグを記入すると変更できます。
    </p>

    <p class="text-lg font-bold text-left mb-0.5 mt-8"><i class="bi bi-tags-fill mr-2"></i>チェックリスト  「- [ ] 」「- [x]」</p>
    <p class="paragraph text-sm text-left">
      ・ 行頭に - [ ] - [x] を付けると、チェックリストになります。<br>
      ・ Miniitaでは、チェックリストの行頭に黒点がつきます。ご了承ください。
    </p>

    <p class="text-lg font-bold text-left mb-0.5 mt-8"><i class="bi bi-tags-fill mr-2"></i>番号付きリスト  「1. 〇〇A」「1. 〇〇B」</p>
    <p class="paragraph text-sm text-left">
      ・ 「数字.」を入れると番号付きリストになります。
    </p>

    <p class="text-lg font-bold text-left mb-0.5 mt-8"><i class="bi bi-tags-fill mr-2"></i>折りたたみ表示<br>
      &lt;details&gt;<br>
      &lt;summary&gt;タイトル&lt;/summary&gt;<br>
      内容をここに記載する<br>
      &lt;/details&gt;
    </p>
    <p class="paragraph text-sm text-left">
      ・ 文章を折りたたみできます。<br>
      ・ ※アコーディオンのタイトルに、見出しやリンクを指定することはできません。
    </p>

    <p class="text-lg font-bold text-left mb-0.5 mt-8"><i class="bi bi-tags-fill mr-2"></i>表<br>
      | TH | TH |<br>
      | ---- | ---- |<br>
      | TD | TD |<br>
      | TD | TD |
    </p>
    <p class="paragraph text-sm text-left">
      ・ 上記のように書くとテーブルで表示されます。
    </p>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>
