h1 {
    font-size: 1.65em; 
    margin-top: 1em;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 1.5em; 
    margin-top: 1em;
    margin-bottom: 0.5em;
}

h3 {
    font-size: 1.17em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

h4 {
    font-size: 1.12em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

h5 {
    font-size: 0.83em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

h6 {
    font-size: 0.75em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

pre {
    background-color: #f5f5f5;  /* 背景色 */
    padding: 10px;              /* 内側の余白 */
    border-radius: 5px;         /* 角の丸み */
    border: 1px solid #ddd;     /* 枠線 */
    overflow: auto;             /* オーバーフロー時にスクロール */
}

code {
    background-color: #f5f5f5;
    padding: 2px 4px;
    border-radius: 4px;
}

blockquote {
    background-color: #f9f9f9; /* 背景色 */
    border-left: 5px solid #ccc; /* 左側のボーダー */
    margin: 1.5em 10px; /* 外側の余白 */
    padding: 0.5em 10px; /* 内側の余白 */
    quotes: "“" "”" "‘" "’";
}

blockquote p {
    display: inline; /* ブロック内の段落をインライン表示 */
}

body hr {
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
}

/* 番号付きリストのスタイル */
ol {
    list-style-type: decimal;
    margin: 0;
    padding: 0 0 0 2em;
}

ol li {
    margin: 0.5em 0;
}

link {
    border-bottom: currentColor 1px solid
}

/* テーブルのスタイル */
table {
    border-collapse: collapse;
    width: 100%;
    margin: 1em 0;
    border: 1px solid #ddd;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

table th {
    background-color: #f2f2f2;
}

hr {
    height: 2px;
    background-color: rgb(100, 98, 98);
    width: 100%;
    border: none;
   }
