.background-image{
    background-image: url(background.jpg);
    background-size:cover;
  }

/* 見出し */
h1 {
    font-size: 1.65em; 
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-weight: 800;

}

h2 {
    font-size: 1.5em; 
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-weight: 800;
}

h3 {
    font-size: 1.17em;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    font-weight: 700;
}

h4 {
    font-size: 1.12em;
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-weight: 700;
}

h5 {
    font-size: 0.83em;
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-weight: 700;
}

h6 {
    font-size: 0.75em;
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-weight: 600;
}
/* 見出し */

/* コードブロック */
/* pre: 複数行のコードブロック */
pre {
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: #f5f5f5;  /* 背景色 */
    padding: 10px;              /* 内側の余白 */
    border-radius: 5px;         /* 角の丸み */
    border: 1px solid #ddd;     /* 枠線 */
    overflow: auto;             /* 要素の中身がその要素のサイズを超えてしまった場合に、スクロールバーを表示して中身を見れるようにする設定 */
}

/* code: インラインコード */
code {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    padding: 4px 10px 4px 10px;
    border-radius: 4px;
}

/* ブロック内のインラインコード枠線を消す */
pre code {
    border: none; /* 枠線を無効にする */
    padding: 0;   /* 余白を無効にする */
}
/* コードブロック */

/* 引用 */
blockquote {
    background-color: #f9f9f9; /* 背景色 */
    border-left: 3px solid #8f9faa; /* 左側のボーダー */
    color: #8a959d;
    margin: 1.5em 10px; /* 外側の余白 */
    padding: 0.5em 10px; /* 内側の余白 */
    quotes: "“" "”" "‘" "’";
}

blockquote p {
    display: inline; /* ブロック内の段落をインライン表示 */
}
/* 引用 */


/* 水平線 */
body hr {
    border: 0;  /* 枠線のスタイル */
    border-top: 1px solid #ccc;  /* 上部の枠線 */
    margin: 1em 0;  /* 外側の余白 */
}

/* 番号付きリストのスタイル */
ol {
    list-style-type: decimal;  /* リストアイテムのスタイルを設定 */
    margin: 0;  /* 外側の余白 */
    padding: 0 0 0 2em;  /* 内側の余白 */
}

/*  順序付きリスト（<ol>）内のリストアイテム（<li>）に対してCSSスタイルを適用するためのセレクター */
ol li {
    margin: 0.5em 0;  /* 外側の余白 */
}
/* 番号付きリストのスタイル */

/* テーブルのスタイル */
table {
    border-collapse: collapse;  /* ボーダーを崩さずに結合 */
    width: 100%;  /* 幅を設定 */
    margin: 1em 0;  /* 外側の余白 */
    border: 1px solid #ddd;  /* 枠線の設定 */
}

/* テーブルセルのスタイル */
table th, table td {
    border: 1px solid #ddd;  /* 枠線 */
    padding: 8px; /* 内側 */
    text-align: left; /*  テキストの位置を設定 */
}

/* テーブルヘッダーのスタイル */
table th {
    background-color: #f2f2f2;  /*  背景色を設定 */
}

a {
    color: rgb(30 64 175);
}

a:hover {
   color: rgb(59 130 246);
}

a.app-link {
    color: inherit; /* 親要素から色を継承する */
}

a.app-link:hover {
    color: inherit; /* 親要素から色を継承し、hover時に色を変えない */
}

p {
    margin-top: 1.0em;
    margin-bottom: 0.5em;
}

p.paragraph {
    margin-top: inherit;
    margin-bottom: inherit;
}

 /* 箇条書きリスト */
ul {
    list-style: none;
  }
  li {
    text-indent: -1em;
    padding-left: 1em;
  }
  li::before {
    content: '・';
  }